@model UniCheckManagementSystem.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Детайли</h2>

<div>
    <h4>Катедра</h4>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">Информация за катедра</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Faculty)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Faculty)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.StartDate)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Редактирай", "Edit", new { id = Model.DepartmentId }, new { @class = "btn btn-warning btn-sm" }) |
    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-primary btn-sm" })
</p>
