@model IEnumerable<UniCheckManagementSystem.Models.Specialty>

@{
    ViewBag.Title = "Index";
}

<h2>Специалности</h2>

<p>
    @Html.ActionLink(" Създай нова", "Create", null, new { @class = "btn btn-success btn-sm bi bi-plus-circle" })
</p>
<table class="table table-striped table-hover">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfessionalStream)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalStream)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.ActionLink("Редактирай", "Edit", new { id = item.SpecialtyId }, new { @class = "btn btn-warning btn-sm" }) |
                @Html.ActionLink("Детайли", "Details", new { id = item.SpecialtyId }, new { @class = "btn btn-info btn-sm" }) |
                @Html.ActionLink("Изтрий", "Delete", new { id = item.SpecialtyId }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
