@model UniCheckManagementSystem.Models.Student

@{
    ViewBag.Title = "ViewGrades";
}

<h2>Детайли</h2>

<div>
    <h4>Студент</h4>
    <hr />
    <div class="panel panel-default" style="width: 65%">
        <div class="panel-heading">Информация за студент</div>
        <div class="panel-body">
            <div style="display: inline-block; padding: 15px; vertical-align: top">
                @if (Model.ImagePath != null)
                {
                    <img src="@Url.Content(Model.ImagePath)" width="250" height="250" />
                }
            </div>
            <div style="display: inline-block; padding: 15px; vertical-align: top">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.FacultyNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FacultyNumber)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FirstName)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.LastName)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Специалност
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Specialty.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.EnrollmentDate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.EnrollmentDate)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">Записани курсове</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr class="active">
                    <th>Курс</th>
                    <th>Оценка</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>